BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Inline
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: true
SpaceBeforeParens: ControlStatements
BreakBeforeBraces: Attach
AccessModifierOffset: -4